
<div class="av-toggle">
	<span class="option-1">{{option1}}</span>
	<span class="option-2">{{option2}}</span>
	{{input type="checkbox" id='1' checked=active}}
	
	<label for='1'>
		<div class="toggle-cover {{activeOption}}"></div>
	</label>
</div>
