<div class="buttons-container row">
	<div class="col-md-3">
		<div class="component-title">Primary, Active Button</div>
		<div class="component-container">
			<button class="av-button">Active</button>
{{#code-block language='handlebars'}}
&lt;button class="av-button"&gt;Active&lt;/button&gt;{{/code-block}}
		</div>
	</div>

	<div class="col-md-3">
		<div class="component-title">Inactive (Disabled) Button</div>
		<div class="component-container">
			<button class="av-button-inactive">Inactive</button>
{{#code-block language='handlebars'}}
&lt;button class="av-button-inactive"&gt;Inactive&lt;/button&gt;{{/code-block}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="component-title">Secondary Button</div>
		<div class="component-container">
			<button class="av-button-secondary">Secondary</button>
{{#code-block language='handlebars'}}
&lt;button class="av-button-secondary"&gt;Secondary&lt;/button&gt;{{/code-block}}
		</div>
	</div>
	<div class="col-md-3">
		<div class="component-title">Icon Button</div>
		<div class="component-container">
			<button class="av-button-icon">{{fa-icon "trash-o"}}</button>
{{#code-block language='handlebars'}}
&lt;button class="av-button-secondary"&gt;&#123;&#123;fa-icon "trash-o"&#125;&#125;&lt;/button&gt;{{/code-block}}
		</div>
	</div>
</div>