<div class="colors-container">
	<div class="color-container">
		<div class="color-square black-text"></div>
		<div class="variable-name">$black-text</div>
		<div class="hex-value">#333333</div>
	</div>
	<div class="color-container">
		<div class="color-square gray-toolbar"></div>
		<div class="variable-name">$gray-toolbar</div>
		<div class="hex-value">#666666</div>
	</div>
	<div class="color-container">
		<div class="color-square gray-inactive-text"></div>
		<div class="variable-name">$gray-inactive-text</div>
		<div class="hex-value">#b7b7b7</div>
	</div>
	<div class="color-container">
		<div class="color-square gray-inactive-bg"></div>
		<div class="variable-name">$gray-inactive-bg</div>
		<div class="hex-value">#e0e0e0</div>
	</div>
	<div class="color-container">
		<div class="color-square white-container-bg"></div>
		<div class="variable-name">$white-container-bg</div>
		<div class="hex-value">#f5f5f5</div>
	</div>
	<div class="color-container">
		<div class="color-square blue-light-bg"></div>
		<div class="variable-name">$blue-light-bg</div>
		<div class="hex-value">#dde4e6</div>
	</div>
	<div class="color-container">
		<div class="color-square blue-text"></div>
		<div class="variable-name">$blue-text</div>
		<div class="hex-value">#59b4bf</div>
	</div>
	<div class="color-container">
		<div class="color-square blue-app-panel"></div>
		<div class="variable-name">$blue-app-panel</div>
		<div class="hex-value">#417380</div>
	</div>
	<div class="color-container">
		<div class="color-square blue-symapp-panel"></div>
		<div class="variable-name">$blue-symapp-panel</div>
		<div class="hex-value">#7fa1a9</div>
	</div>
	<div class="color-container">
		<div class="color-square red"></div>
		<div class="variable-name">$red</div>
		<div class="hex-value">#cd2c24</div>
	</div>
	<div class="color-container">
		<div class="color-square green"></div>
		<div class="variable-name">$green</div>
		<div class="hex-value">#819964</div>
	</div>

</div>