<!--Groupbox - Wide -->
<div class="component-title">Groupbox - Wide</div>
<div class="component-container">
	<div class="av-groupbox-title">Title</div>
	<div class="av-groupbox-wide"></div>
{{#code-block language='handlebars'}}
&lt;div class="av-groupbox-title"&gt;Title&lt;/div&gt;
&lt;div class="av-groupbox-wide"&gt;&lt;/div&gt;{{/code-block}}
</div>

<!--Groupbox - Thin -->
<div class="component-title">Groupbox - Thin</div>
<div class="component-container">
	<div class="av-groupbox-title">Title</div>
	<div class="av-groupbox-thin"></div>
{{#code-block language='handlebars'}}
&lt;div class="av-groupbox-title"&gt;Title&lt;/div&gt;
&lt;div class="av-groupbox-thin"&gt;&lt;/div&gt;{{/code-block}}
</div>

<!-- Textbox -->
<div class="component-title">Text Box</div>
<div class="component-container">
	<div class="av-textbox-label">Label</div>
	<input class="av-textbox">
{{#code-block language='handlebars'}}
&lt;div class="av-textbox-label"&gt;Label&lt;/div&gt;
&lt;input class="av-textbox"&gt;{{/code-block}}
</div>

<!-- Text Area -->
<div class="component-title">Text Area</div>
<div class="component-container">
	<div class="av-textarea-label">Label</div>
	<textarea class="av-textarea"></textarea>
{{#code-block language='handlebars'}}
&lt;div class="av-textarea-label"&gt;Label&lt;/div&gt;
&lt;textarea class="av-textarea"&gt;&lt;/textarea&gt;{{/code-block}}
</div>

<!-- Checkbox -->
<div class="component-title">Checkbox</div>
<div class="component-container">
	{{av-checkbox}}
{{#code-block language='handlebars'}}&#123;&#123;av-checkbox&#125;&#125;{{/code-block}}
</div>

<!-- Toggle -->
<div class="component-title">Toggle</div>
<div class="component-container">
{{av-toggle option1="Option 1" option2="Option 2"}}
{{#code-block language='handlebars'}}
&#123;&#123;av-toggle option1="Option 1" option2="Option 2"&#125;&#125;{{/code-block}}
</div>

