
<div class="component-title">Groupbox - Wide</div>
<div class="component-container">
	<div class="av-groupbox-title">Title</div>
	<div class="av-groupbox-wide"></div>
	<div class="code-text">
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-groupbox-title"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Title</span>
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-groupbox-wide"</span>
			<span class="code-tag">&gt;&lt;/div&gt;</span>
		</div>
	</div>
</div>
<div class="component-title">Groupbox - Thin</div>
<div class="component-container">
	<div class="av-groupbox-title">Title</div>
	<div class="av-groupbox-thin"></div>
	<div class="code-text">
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-groupbox-title"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Title</span>
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-groupbox-thin"</span>
			<span class="code-tag">&gt;&lt;/div&gt;</span>
		</div>
	</div>
</div>
<div class="component-title">Text Box</div>
<div class="component-container">
	<div class="av-textbox-label">Label</div>
	<input class="av-textbox">
	<div class="code-text">
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-textbox-label"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Label</span>
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div>
			<span class="code-tag">&lt;input </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-textbox"</span>
			<span class="code-tag">&gt;</span>
		</div>
	</div>
</div>

<div class="component-title">Text Area</div>
<div class="component-container">
	<div class="av-textarea-label">Label</div>
	<textarea class="av-textarea"></textarea>
	<div class="code-text">
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-textarea-label"</span>
			<span class="code-tag">&gt;</span>
			<span class="code-content">Label</span>
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
		<div>
			<span class="code-tag">&lt;textarea </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-textarea"</span>
			<span class="code-tag">&lt;/textarea&gt;</span>
		</div>
	</div>
</div>
<div class="component-title">Toggle</div>
<div class="component-container">
	<div class="av-toggle slide">
	  <input id="c" type="checkbox" />
	  <label for="c">
	    <div class="card slide"></div>    
	  </label>
	</div>
	<div class="code-text">
		<div>
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute">class=</span>
			<span class="code-attribute-value">"av-toggle slide"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;input </span>
			<span class="code-attribute"> id=</span>
			<span class="code-attribute-value">"c"</span>
			<span class="code-attribute"> type=</span>
			<span class="code-attribute-value">"checkbox"</span>
			<span class="code-tag">/&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;label </span>
			<span class="code-attribute"> for=</span>
			<span class="code-attribute-value">"c"</span>
			<span class="code-tag">&gt;</span>
		</div>
		<div class="tab-2">
			<span class="code-tag">&lt;div </span>
			<span class="code-attribute"> class=</span>
			<span class="code-attribute-value">"card slide"</span>
			<span class="code-tag">&gt;&lt;/div&gt;</span>
		</div>
		<div class="tab-1">
			<span class="code-tag">&lt;/label&gt;</span>
		</div>
		<div>
			<span class="code-tag">&lt;/div&gt;</span>
		</div>
	</div>
</div>

