<div class="component-title">Font Families</div>
<div class="component-container row">
	<div class="font-family-container col-md-4 futura-pt-medium-container">
		<div class="font-family-header">Futura PT Medium</div>
		<div>abcdefghijklmnopqrstuvwxyz</div>
		<div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
		<div>0123456789</div>
	</div>
	<div class="font-family-container col-md-4 futura-pt-heavy-container">
		<div class="font-family-header">Futura PT Heavy</div>
		<div>abcdefghijklmnopqrstuvwxyz</div>
		<div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
		<div>0123456789</div>
	</div>
	<div class="font-family-container col-md-4 futura-pt-condensed-container">
		<div class="font-family-header">Futura PT Condensed Medium</div>
		<div>abcdefghijklmnopqrstuvwxyz</div>
		<div>ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
		<div>0123456789</div>
	</div>
</div>

<div class="component-title">Headings</div>
<div class="component-container">
	<h1>Heading One: Futura PT Condensed (500) 44pt</h1>
	<h2>Heading Two: Futura PT Condensed (500) 36pt</h2>
	<h3>Heading Three: Futura PT Condensed (300) 32pt</h3>
</div>	